#app {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: hsla(0, 0%, 100%, .6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, .4);
  transition: all .2s;
  border-radius: .5rem;
}

.move-enter-active, .move-leave-active {
  transition: opacity .3s;
}

.move-enter, .move-leave {
  opacity: 0;
}

.flow-enter-active, .flow-leave-active {
  transition: all .5s;
}

.flow-enter, .flow-leave {
  transform: translateY(-20px);
  opacity: 0;
}
