version: '3'
services:
  fame-nginx:
    container_name: fame-nginx
    build:
      context: ./
      dockerfile: ./fame-docker/fame-nginx/nginx-Dockerfile
    environment:
      TZ: Asia/Shanghai
    ports:
    - "80:80"
    volumes:
    - ~/.fame/logs/nginx:/var/log/nginx
    depends_on:
    - fame-server
    - fame-admin
    - fame-front

  fame-mysql:
    container_name: fame-mysql
    build:
      context: ./
      dockerfile: ./fame-docker/fame-mysql/fame-mysql-Dockerfile
    environment:
      MYSQL_DATABASE: fame
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
      TZ: Asia/Shanghai
    expose:
    - "3306"
    volumes:
    - ~/.fame/mysql/mysql_data:/var/lib/mysql
    restart: always

  fame-server:
    container_name: fame-server
    build:
      context: ./
      dockerfile: ./fame-docker/fame-server-Dockerfile
    working_dir: /app
    environment:
      TZ: Asia/Shanghai
    volumes:
    - ./fame-server:/app
    - ~/.m2:/root/.m2
    - ~/.fame/logs/server:/app/log
    - ~/.fame/upload:/root/.fame/upload
    expose:
    - "9090"
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=docker -Dmaven.test.skip=true
    depends_on:
    - fame-mysql
    restart: always

  fame-admin:
    container_name: fame-admin
    build:
      context: ./
      dockerfile: ./fame-docker/fame-admin/fame-admin-Dockerfile
    environment:
      TZ: Asia/Shanghai
    expose:
    - "3001"

  fame-front:
    container_name: fame-front
    build:
      context: ./
      dockerfile: ./fame-docker/fame-front-Dockerfile
    environment:
      TZ: Asia/Shanghai
    expose:
    - "3000"