/* color */
.blue {
  background: #30a5ff !important;
}

.red {
  background: #f36a5a !important;
}

.green {
  background: #1abc9c !important;
}

.yellow {
  background: #fabe28 !important;
}
/* color end */
